@page "/create-review"
@model MomAndBaby.Pages.Main.Body.CreateReviewModel
@{
}

<form method="post" style="padding-left: 40px; padding-right: 40px">
	<div class="review-form-content">
		<div class="row">
			<div class="col-md-12">
				<div class="rating">
					<span class="rating-title">Rating</span>
					<span id="rating-stars">
						<a class="fa fa-star" data-rating="1" style="color: white; text-shadow: 0 0 1px black"></a>
						<a class="fa fa-star" data-rating="2" style="color: white; text-shadow: 0 0 1px black"></a>
						<a class="fa fa-star" data-rating="3" style="color: white; text-shadow: 0 0 1px black"></a>
						<a class="fa fa-star" data-rating="4" style="color: white; text-shadow: 0 0 1px black"></a>
						<a class="fa fa-star" data-rating="5" style="color: white; text-shadow: 0 0 1px black"></a>
					</span>
					<input type="hidden" id="rating" asp-for="Review.Rating" name="Review.Rating" required>
				</div>
			</div>
			<div class="col-md-12">
				<div class="form-group">
					<label asp-for="Review.Comment">What do you think of this product <span>(1500)</span></label>
					<textarea asp-for="Review.Comment" class="form-control textarea" rows="7" placeholder="Write your comments here" required></textarea>
					<span asp-validation-for="Review.Comment" class="text-danger"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group pull-right">
					<button class="btn btn-theme">Submit Review</button>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const stars = document.querySelectorAll('#rating-stars a');
		stars.forEach(star => {
			star.addEventListener('click', function (e) {
				e.preventDefault();
				const rating = this.getAttribute('data-rating');
				document.getElementById('rating').value = rating;
				updateStars(rating);
			});
		});

		function updateStars(rating) {
			stars.forEach(star => {
				if (parseInt(star.getAttribute('data-rating')) <= rating) {
					star.classList.add('selected');
					star.style.color = 'gold';
					star.style.textShadow = 'none';
				} else {
					star.classList.remove('selected');
					star.style.color = 'white';
					star.style.textShadow = '0 0 1px black';
				}
			});
		}
	});
</script>

<style>
	.fa-star {
		color: white;
		text-shadow: 0 0 1px black;
	}

		.fa-star.selected {
			color: gold;
			text-shadow: none;
		}
</style>