.form-login {
    width: 40vw !important;
}

.register-account {
    float: left;
}

    .register-account a {
        color: #4bb1cf;
        text-decoration: underline;
        font-style: italic;
    }
.user-link {
    display: inline-block;
    max-width: 150px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

