.form-login {
    width: 40vw !important;
}

.register-account {
    float: left;
}

    .register-account a {
        color: #4bb1cf;
        text-decoration: underline;
        font-style: italic;
    }
.user-link {
    display: inline-block;
    max-width: 150px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.form-data input {
    border: none !important;
    outline: none !important;
}

.widget-price-filter {
    display: flex;
    flex-direction: column;
}

#searchFrom, #searchTo {
    width: 8vw;
    border: none;
}

#searchTo input:hover {
    border: 1px solid black;
}

.widget-price-filter span {
    margin: 0 1rem;
}

.product-info .title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-checkout {
    background-color: #f379a7;
    padding: 15px 20px;
    color: white;
    width: 100%;
}

    .btn-checkout:hover {
        background-color: #95b3e0;
        color: white;
    }

.btn-update {
    background-color: #95b3e0;
    padding: 8px 20px 11px;
    color: white;
    width: 100%;
}

    .btn-update:hover {
        background-color: #f379a7;
        color: white;
    }

    .text-15px {
        font-size: 15px!important;
    }