@using MomAndBaby.Utilities.Constants
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"] - MomAndBaby</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="dashboard/assets/favicon.ico">

    <!-- CSS
    ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="dashboard/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="dashboard/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="dashboard/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="dashboard/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="dashboard/assets/css/vendor/cryptocurrency-icons.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="dashboard/assets/css/plugins/plugins.css">

    <!-- Helper CSS -->
    <link rel="stylesheet" href="dashboard/assets/css/helper.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="dashboard/assets/css/style.css">

    <!-- Custom Style CSS Only For Demo Purpose -->
    <link id="cus-style" rel="stylesheet" href="dashboard/assets/css/style-primary.css">

</head>
<body class="skin-dark">
<div class="main-wrapper">
    @{
        await Html.RenderPartialAsync(ConstantPage.DashboardPage.Header);
    }

    @{
        await Html.RenderPartialAsync(ConstantPage.DashboardPage.SideHeader);
    }

    @RenderBody();


    @{
        await Html.RenderPartialAsync(ConstantPage.DashboardPage.Footer);
    }


</div>

<script src="dashboard/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="dashboard/assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="dashboard/assets/js/vendor/popper.min.js"></script>
<script src="dashboard/assets/js/vendor/bootstrap.min.js"></script>
<!--Plugins JS-->
<script src="dashboard/assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="dashboard/assets/js/plugins/tippy4.min.js.js"></script>
<!--Main JS-->
<script src="dashboard/assets/js/main.js"></script>

<!-- Plugins & Activation JS For Only This Page -->
<script src="dashboard/assets/js/plugins/nice-select/jquery.nice-select.min.js"></script>
<script src="dashboard/assets/js/plugins/nice-select/niceSelect.active.js"></script>
<script src="dashboard/assets/js/plugins/filepond/filepond.min.js"></script>
<script src="dashboard/assets/js/plugins/filepond/filepond-plugin-image-exif-orientation.min.js"></script>
<script src="dashboard/assets/js/plugins/filepond/filepond-plugin-image-preview.min.js"></script>
<script src="dashboard/assets/js/plugins/filepond/filepond.active.js"></script>
</body>

</html>