@page "/dashboard/add-post"
@using MomAndBaby.BusinessObject.Constants
@model AddArticleModel


@if (!User.Identity!.IsAuthenticated)
{
	Redirect("/article");
}

<main class="main-content">
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12 m-auto">
					<div class="page-title-content text-center">
						<h2 class="title">Blog</h2>
						<div class="bread-crumbs">
							<span class="active">Add new article</span>
						</div>
					</div>
				</div>
			</div>
		</div>	 
	</section>
	<section class="edit-article-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 m-auto">
					<form method="post" enctype="multipart/form-data">
						<div class="form-group">
							<label asp-for="ArticleDTO.Title"></label>
							<input asp-for="ArticleDTO.Title" class="form-control" />
							<span asp-validation-for="ArticleDTO.Title" class="text-danger"></span>
						</div>
						<div>
							<label asp-for="ArticleDTO.Content">Content</label>
							<input id="editor-input" type="hidden" asp-for="ArticleDTO.Content" />
							<div class="form-control p-0">
								<div class="comment-editor border-0" id="ecommerce-category-description">
									<div id="editor" style="width: 100%; height: 300px;">
									</div>
								</div>
							</div>
							<span asp-validation-for="ArticleDTO.Content" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="ImageUpload">Upload Image</label>
							<input type="file" id="ImageUpload" name="ImageUpload" class="form-control-file" />
						</div>
						<button style="margin-top: 10px" type="submit" class="btn btn-primary">Post Article</button>
					</form>

				</div>
			</div>
		</div>
	</section>
</main>

@section Scripts {
	<!-- Vendors JS -->
	<script src="~/ok/assets/vendor/libs/select2/select2.js"></script>
}