<footer class="footer-section">
    <div class="container-fluid">

        <div class="footer-copyright text-center">
            <p class="text-body-light">2022 &copy; <a href="#">MomAndBaby</a></p>
        </div>

    </div>
</footer>