@page "/add-article"
@model AddArticleModel
@{
	ViewData["Title"] = "Add Article";
}

<main class="main-content">
	<section class="page-title-area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12 m-auto">
					<div class="page-title-content text-center">
						<h2 class="title">Blog</h2>
						<div class="bread-crumbs">
							<a href="/"> Home </a><span class="breadcrumb-sep"> // </span><span class="active">Add new article</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="edit-article-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 m-auto">
					<form method="post">
						<div class="form-group">
							<label asp-for="Article.Title"></label>
							<input asp-for="Article.Title" class="form-control" />
							<span asp-validation-for="Article.Title" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Article.Content"></label>
							<textarea asp-for="Article.Content" class="form-control"></textarea>
							<span asp-validation-for="Article.Content" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label asp-for="Article.AuthorId"></label>
							<input asp-for="Article.AuthorId" class="form-control" />
							<span asp-validation-for="Article.AuthorId" class="text-danger"></span>
						</div>
						<button type="submit" class="btn btn-primary">Post Article</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</main>