 <!--== Start Product Tab Area Wrapper ==-->
<section class="product-area product-style2-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto">
                <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="title">Trending Product</h2>
                    <div class="desc">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-tab1-slider" data-aos="fade-up" data-aos-duration="1500">
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/9.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Funskool Teddy Brown</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/10.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Newborn Kit Set</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/11.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Classic Fisher Gift</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/12.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Sassy Crib and Floor Mirror</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/9.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Funskool Teddy Brown</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/10.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Newborn Kit Set</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/11.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Classic Fisher Gift</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                    <div class="slide-item">
                        <!-- Start Product Item -->
                        <div class="product-item">
                            <div class="product-thumb">
                                <img src="/main/assets/img/shop/12.png" alt="Image">
                                <div class="product-action">
                                    <a class="action-quick-view" href="shop-cart.html"><i class="ion-ios-cart"></i></a>
                                    <a class="action-quick-view" href="javascript:void(0)"><i class="ion-arrow-expand"></i></a>
                                    <a class="action-quick-view" href="shop-wishlist.html"><i class="ion-heart"></i></a>
                                    <a class="action-quick-view" href="shop-compare.html"><i class="ion-shuffle"></i></a>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="rating">
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <h4 class="title"><a href="shop-single-product.html">Sassy Crib and Floor Mirror</a></h4>
                                <div class="prices">
                                    <span class="price">$190.12</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Product Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== End Product Tab Area Wrapper ==-->