@page "/payment-canceled"

@{
    ViewData["Title"] = "PaymentCancel";
}

    <main class="main-content">

    <!--== Start Cart Area Wrapper ==-->
    <section class="page-not-found-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 m-auto">
            <div class="error-content text-center">
              <h1>We Are Sorry, Payment has been canceled</h1>
              <p>Unfortunately your payment have some issue, we cant comfirm that your payment success. Please try pay again. <a href="/">Back to Homepage</a> </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Cart Area Wrapper ==-->
  </main>